button{
    background: rgb(57,204,255);
    background: linear-gradient(90deg, rgba(57,204,255,1) 0%, rgba(153,0,241,1) 100%);
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 0.5rem;
    color: aliceblue;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover{
    background: rgba(57, 206, 255, 0.364);
    background: linear-gradient(90deg, rgba(57, 206, 255, 0.336) 0%, rgba(153, 0, 241, 0.374) 100%);
}
button:active{
    transform: scale(0.96);
}